obj/
*.swp
*.swn
*.swo
single_core_res
*results/
wrk_files
*.txt
*res/
*_perf
*_band
wrk_output
./wrk
*.tst
*.gz
openssl-*
*.cpu
utils/tests/*/*
broadwell_tests
/vivado*
/.Xil
1
/spec_out
/wrk
*.mem
*.txt
