[submodule "client_wrks/autonomous-asplos21-artifact"]
	path = client_wrks/autonomous-asplos21-artifact
	url = https://github.com/BorisPis/autonomous-asplos21-artifact.git
[submodule "client_wrks/wrk"]
	path = client_wrks/wrk
	url = https://github.com/wg/wrk.git
[submodule "wrk2"]
	path = wrk2
	url = https://github.com/giltene/wrk2.git
[submodule "wrk2_offload_engine"]
	path = wrk2_offload_engine
	url = git@github.com:neelpatelbiz/wrk2_offload_engine.git
[submodule "async_nginx_build"]
	path = async_nginx_build
	url = git@github.com:neel-patel-1/async_nginx_build.git
